/* Réinitialisation des styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
/* Styles globaux pour le corps de la page */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #808aa7;
  background-color: #020915;
  font-size: 0.8em;
}

.gradient-text {
  font-size: 2.5rem;
  font-weight: bold;
  background: linear-gradient(to right, #55e9fa, #1d4a8e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

  
.intro-description {
  color: #bdc3c7;
  font-size: 1.28rem;
  line-height: 4;
  text-align: justify;
}

/* Styles pour le header transparent */
header {
  background-color: transparent;
  transition: background-color 1.7s ease;
  padding: 1.5rem 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Pour garder la visibilité lorsqu'on descend la page */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}



#competencesdev{
  color: #bdc3c7;
  font-size: 1.2em;
}

.cv-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cv-button {
  display: inline-block;
  padding: 12px 24px;
  background: linear-gradient(135deg, #55e9fa, #1d4a8e);
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cv-button:hover {
  background: #55e9fa;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


.typewriter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.typewriter h1 {
  color: #dffbff;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.15em;
  position: relative;
  animation:
    typing 1.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

#cursor {
  position: absolute;
  top: 10px;
  right: -1px;
  border-left: 0.08em solid #55e9fa;
  height: 1.1em; /* Ajustez la hauteur du curseur pour correspondre au texte */
  animation: blink-caret 1.0s step-end infinite;
}

.point-icon {
  font-size: 24px;
  color: #55e9fa;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #55e9fa; }
}

.typewriter img {
  margin-left: 10px; /* Ajouter un espacement entre le texte et l'image */
  cursor: pointer;
}



/* Styles pour le conteneur de l'en-tête */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 960px;
  padding: 0 1rem;
  position: relative;
}

/* Icône Home */
.home-icon {
  width: 28px;
  height: 28px;
  margin-left: -100px;
  background-image: url('home.png');
  background-size: cover;
  transition: background-image 0.3s ease;
}

.home-icon:hover {
  background-image: url('home2.png');
}


/* Container pour les langues */
.language-toggle {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacement entre l'icône Home et le sélecteur de langue */
  position: relative;
}

.language-icon {
  cursor: pointer;
  margin-left: 100px;
}

/* Styles pour les bulles de langue */
.language-bubbles {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  gap: 5px;
  position: absolute;
  top: 120%; /* Positionné sous l’icône */
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease 0.5s; /* Ajout d'un délai */
  pointer-events: none;
}

/* Affiche les bulles au survol de l'icône ou des bulles elles-mêmes */
.language-toggle:hover .language-bubbles,
.language-bubbles:hover {
  opacity: 1;
  transition-delay: 0s;
  pointer-events: auto;
}

/* Style des bulles de langue */
.lang-bubble {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
  text-align: center;
  text-decoration: none;
  color: #55e9fa;
  border: 1px solid #55e9fa;
  background-color: transparent;
  transition: all 0.3s ease;
}


/* Langue active */
.current-lang {
  background: linear-gradient(135deg, #55e9fa, #1d4a8e);
  color: white;
  border: none;
}

.lang-bubble:hover {
  background-color: #55e9fa;
  color: #020915;
}

/* Styles pour la navigation */
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav li {
  margin: 0 0.5rem;
}


nav a {
  color: #55e9fa;
  text-decoration: none;
  font-weight: bold;
}

/* Styles pour les liens de navigation au survol */
nav a:hover {
  color: #bdc3c7;
}

.intro {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

#brain-video {
  width: 100%; 
  height: auto;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.intro-text {
  flex: 1;
  padding-right: 2rem;
}

.intro-right {
  flex: 1;
}

#container {
  width: 50%; /* Ajustez la largeur en fonction de vos préférences */
  height: 400px; /* Ajustez la hauteur en fonction de vos préférences */
}


.welcome-text {
  color: #55e9fa;
  font-size: 1rem;
  font-weight: bold;
}

.intro-name {
  color: #ccd6f6;
  font-size: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}



#molecule {
  border: none;
  margin-left: 1em;
}

a:link 
{ 
 text-decoration:none; 
} 

.highlighted-text {
  color: #55e9fa;
  /* text-decoration: none; */
}


.competence-bulle {
  height: 30px;
  font-size: 0.65rem; /* Taille plus petite */
  font-family: 'Nunito', sans-serif; /* Remplacez 'Nunito' par la police de votre choix */
  text-align: center;
  padding: 6px 12px;
  color: #55e9fa; /* Nouvelle couleur */
  background-color: transparent;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px; /* Espace en bas pour forcer le retour à la ligne */
  border-radius: 20px; /* Bord arrondi */
  box-shadow: 3px 3px 10px #55e9fa, -1px -1px 1px #1d4a8e; /* Ombre */
}


.enseirb{
  border-bottom: 1px solid #55e9fa;
  color: #55e9fa; /* Pour conserver la couleur du texte d'origine */
  text-decoration: none; /* Pour supprimer le soulignement par défaut */
}

.matiere{
  color: #1d4a8e
}

.intro-description-school{
  color: #55e9fa;
}

.label {
  text-shadow: -1px 1px 1px rgb(0,0,0);
  margin-left: 25px;
  font-size: 20px;
}

/* Styles pour les titres principaux */
h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #55e9fa;
}

/* Styles pour le contenu principal */
main {
  max-width: 960px;
  margin: 2rem auto;
  padding: 0 1rem;
}

/* Styles pour les paragraphes */
p {
  margin-bottom: 1rem;
}

/* Styles pour le conteneur de contenu */
.content-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Styles pour le conteneur d'images */
.img-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

/* Styles pour les images */
.img-container img {
  width: 100%;
  height: auto;
}

/* Styles pour le pied de page */
footer {
  background-color: #2c3e50;
  padding: 1.5rem 0;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles pour les paragraphes du pied de page */
footer p {
  color: #fff;
}

/* Styles pour le numéro de titre */
.about-num {
  color: #55e9fa;
  font-family: Dosis, sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
}

/* Styles pour le titre de la section */
.about-heading {
  align-items: center;
  color: #ccd6f6;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  justify-content: flex-start;
  padding-left: 1%;
  }
  
/* Portfolio Cards */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.projects-card {
  background: linear-gradient(135deg, #020915 0%, #1d4a8e 150%);
  border: 1px solid #1d4a8e;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.75rem;
  position: relative;
  height: 100%;
}

.card-header {
  border-bottom: none !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -20px;
  padding: 1.25em 0 !important;
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: -10px;
  color: #fff;
}

.card-desc {
  font-size: 1em;
  color: #889297;
  margin-top: 10px;
}

.card-tech {
  font-size: 0.8em;
  color: #55e9fa;
  margin-top: auto;
}
  
.experience-timeline {
  position: relative;
}

/* .experience-point {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
} */

.projects-card {
  background: linear-gradient(135deg, #020915 0%, #1d4a8e 150%);
  border: 1px solid #1d4a8e;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.75rem;
  position: relative;
  height: 100%;
}

.experience-card {
  background: linear-gradient(135deg, #131a29 20%, #1d4a8e 500%);
  border: 0.5px solid #55e9fa;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  position: relative;
  height: 100%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #e2e8f0;
  margin-bottom: 1.5rem;
}

.experience-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.35);
}

.experience-card h3 {
  font-size: 1.2rem;
  color: #87d4dd;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.experience-card p {
  font-size: 1rem;
  color: #9aa0a9;
  margin: 0.5rem 0;
  line-height: 1.6;
}

.experience-card .date {
  font-size: 0.9rem;
  font-weight: bold;
  color: #7aa8c9;
  margin-bottom: 1rem;
}


.date {
  font-size: 0.9rem;
  font-style: italic;
  color: #7aa8c9;
  margin-top: 0.3rem;
}

.experience-description {
  color: #cbd6e2;
  margin-top: 1rem;
  line-height: 1.5;
  font-size: 1rem;
}

.summer-job .experience-list {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.summer-job .experience-list li {
  color: #cbd6e2;
  font-size: 0.95rem;
  padding-left: 1rem;
  margin-bottom: 0.8rem;
  position: relative;
}

.summer-job .experience-list li:before {
  content: "➤";
  position: absolute;
  left: 0;
  color: #55e9fa;
  font-size: 1rem;
  line-height: 1;
}



.experience-point {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.experience-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.experience-list li {
  display: flex;
  align-items: center;
}

.experience-date {
  color: #7aa8c9; /* Gris pour les dates */
  font-size: 0.9rem;
  width: 100px;
  text-align: center;
  line-height: 1.4; /* Ajustez pour l'espacement */
  display: inline-block;
  vertical-align: middle;
}



.experience-arrow {
  color: #55e9fa; /* Bleu clair pour la flèche */
  font-size: 1.2rem;
  margin-left: 1rem;
  /* margin: 0 0.5rem; */
}

.experience-details {
  color: #c5c5c5; /* Blanc pour l'intitulé */
  font-size: 1rem;
  font-weight: 1;
}

.experience-list li strong {
  color: #e2e8f0;
}

.point {
  width: 20px;
  height: 20px;
  background-color: #ccd6f6; /* Couleur des points */
  border-radius: 50%;
  margin-right: 20px;
}

.point-img {
  width: 20px; /* Ajustez la taille selon vos besoins */
  height: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.experience-info {
  flex: 1;
}

.experience-info h3 {
  margin: 0;
}

.experience-info p {
  margin: 5px 0;
}

#formation {
  padding: 80px 0;
}


/* TIMELINE */
.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative; /* Ajout de la position relative */
  left: -60px; /* Décalage vers la gauche */
  display: flex;
  flex-direction: column;
}


.timeline-content {
  padding: 1.5rem;
  background: linear-gradient(145deg, #131a29 0%, #1c2539 100%);
  border-left: 4px solid #55e9fa;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.5);
  color: #e0e8f3;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 20px;
  margin: 1rem;
  width: 400px;
}

.timeline-content2 {
  padding: 1.5rem;
  background: linear-gradient(145deg, #131a29 0%, #1c2539 100%);
  border-right: 4px solid #55e9fa;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.5);
  color: #e0e8f3;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius:20px;
  margin: 1rem;
  width: 400px;
}

.timeline-content h3 {
  color: #87d4dd;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.timeline-content2 h3 {
  color: #87d4dd;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.subject {
  color: #1d4a8e;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.timeline-component {
  margin: 0px 20px 20px 20px;
}

.timeline-middle {
  position: relative;
  background-image: linear-gradient(45deg, #55e9fa, #1d4a8e);
  width: 3px;
  height: 100%;
}

.main-middle {
  opacity: 0;
}

.timeline-circle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #55e9fa, #0a192f);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
}

#date-1 {
  margin-left: 380px; /* Ajustez la valeur selon vos besoins */
}

#date-2 {
 margin-left: 20px;
}

#date-3 {
  margin-left: 380px; /* Ajustez la valeur selon vos besoins */
}

#contact {
  background-color: transparent;
  padding: 80px 0;
  text-align: center;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; /* Utiliser "row" pour aligner horizontalement */
  text-align: center; /* Centrer le texte horizontalement */
}

.contact-links,
.linkedin-link {
  margin-left: 20px; /* Ajouter un espacement entre les liens (modifier margin-top à margin-left) */
}

.linkedin-link .linkedin-logo {
  margin-top: 4px;
  width: 42px; /* Ajustez la taille selon vos préférences */
  height: auto;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.linkedin-link a:hover .linkedin-logo {
  content: url('logo2.png'); /* Change l'image au survol */
  transform: scale(1.1); /* Agrandit légèrement au survol */
  opacity: 0.8; /* Légère transparence au survol */
}

.btnmore {
  text-decoration: none;
  font-size: 1.5rem;
  display: inline;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  text-align: center;
  align-items: center;
  background: #0a192f;
  border: 0.1rem solid #55e9fa;
  border-radius: 0.5rem;
  color: #55e9fa;
  cursor: pointer;
  font-family: NTR, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
}

.btnmore:hover {
  background-color: #55e9fa;
  color: #0a192f;
}



  /* Styles pour la ligne horizontale */
  hr {
  border: none;
  border-bottom: 0.15rem solid #233554;
  margin-left: 2rem;
  width: 25%;
  }
  
  /* Styles pour la ligne horizontale avec les propriétés par défaut */
  hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  }
  
  /* Styles pour l'en-tête de la section */
  .section-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  gap: 1rem;
  }
  
  /* Styles pour l'espace vide */
  .empty-space {
  flex-grow: 1;
  }